pipeline/38_SplitDataMultipleCriteria.json
{
	"name": "38_SplitDataMultipleCriteria",
	"properties": {
		"activities": [
			{
				"name": "Copy data from adls to sqldb excel to table",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table dbo.InvoiceData",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "YEAR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "YEAR",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MONTH",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MONTH",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "INVOICEID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "INVOICEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REGION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REGION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SALES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SALES",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_excel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Excel2Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetCountryRegions",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data from adls to sqldb excel to table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country, region from invoicedata\norder by country, region",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Excel2Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCountryRegions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCountryRegions').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Country",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Country",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Region",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Region",
								"value": {
									"value": "@item().REGION",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Country",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Region",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@replace(replace('select [YEAR],[MONTH],INVOICEID, SALES from InvoiceData where COUNTRY=''countryname'' and REGION=''regionname''','countryname' ,variables('Country') ),'regionname',variables('Region'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Excel2Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CountryRegions",
									"type": "DatasetReference",
									"parameters": {
										"ParamCountry": {
											"value": "@variables('Country')",
											"type": "Expression"
										},
										"ParamRegion": {
											"value": "@variables('Region')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Country": {
				"type": "String"
			},
			"Region": {
				"type": "String"
			}
		},
		"annotations": []
	}
}